header{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
body{
    background-image: url(https://img.freepik.com/premium-vector/abstract-halftone-background-concept_23-2148590220.jpg?w=826);
    background-size: cover;
    background-attachment: fixed;

}
.index-card{
    img{
        object-fit: cover;
        width: 100%;
        height: 365px;
    }
}
.card{
    width: 15rem;
    height: 530px;
    margin: 0 auto;
}
.show-img{
    height: 600px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%; /* Adjust height to cover the controls you want to hide */
    background: transparent;
    z-index: 1; /* Ensure overlay is above the iframe */
}

.form,.index,.show{
    margin: 100px auto;
}
.form{
    color:#ffffff;
    font-weight: bold;
    font-size: 1.5rem;
}
.show{
    color: white;
    font-weight: bold;
}
.absolut-index{
  position: absolute;
  right: 0;
  bottom: 31%;
  display: flex;
  flex-direction: column;
}

.index-btn{
  margin: 3px;
  padding: 0px 15px;
}



.tag {
    font-size: 56px;
    margin: 20px 20px;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.85);
}

.bedge{
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 20px;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.85);
}

.left:before {
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    transform: skewX(20deg);
  }

  .left:hover:before {
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }

  .button {
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    position:relative;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    margin-left: 33px;
  }

  .button:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgb(255, 0, 0);
    width: 100%;
    height: 100%;
    transition: .2s;
    -webkit-backface-visibility: hidden;
  }

